@charset "utf-8";
/* basic */

body {
	background-color: #000000;
	color: #fff;
	border: 0;
	font-size: 15px;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	line-height: 170%;
	margin: 0 auto;
}
a, a:visited
{
	text-decoration: none;
	color: #999;
	font-size: 12px;	
}
a:hover
{
	text-decoration: underline;	
}
h1,h2,h3
{
	margin: 0;
	padding: 0;	
}
#header 
{
	height: auto;
	position: relative;
}
.mini-header
{
	padding:43px 0 43px 0;
	margin-bottom: 20px;
	vertical-align:middle;
	text-align:center;
	font-size:32px;
	color:#fff;	
	font-family:"Comic Sans MS", cursive, sans-serif;
}
.inner-content
{
	width: 960px;	
	margin: 0 auto;
}
.inner-content img
{	
	margin: 10px 0 10px 0;		
}
#content
{
	height: 1450px;
}
#content .box
{
	float: left;
	width: 655px;
	height: auto;
	padding: 15px;
	margin: 0 0 10px 10px;
	float: left;
	-webkit-box-shadow: inset 0 0 4px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 0 4px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 4px 3px rgba(0,0,0,0.1); 
}

#content .box span
{
	word-wrap: break-word;
}
#content .box img
{	
	border: 5px #efefef solid;
	float: left; 
	margin: 5px 10px 5px 0;
	width: 208px;
	height: 180px;
}
#container-details
{
	width: 710px;
	height: 1250px;
	float: left;
}
.color1
{
	background-color: #6d85fc;	
}
.color2
{
	background-color: #ff536b;	
}
.color3
{
	background-color: #fff37a;	
}
.color4
{
	background-color: #ff25d3;	
}
.color5
{
	background-color: #000000;	
}
.color6
{
	background-color: #81f1ed;
}
.color7
{
	background-color: #fc8539;
}
.color8
{
	background-color: #55ff55;
}
.color9
{
	background-color: #fff005;
}
.box-info
{
	width: 250px;
	height: 250px;
	position: relative;
	color: #fff;
	float: right;
	opacity: 0.9;
	-webkit-box-shadow: inset 0 0 9px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 0 9px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 9px 3px rgba(0,0,0,0.1);
}
.box-info h1
{
	font-size: 32px;
	padding-top: 38%;
	line-height: 33px;
	vertical-align: middle;
	position: relative;
	text-align: center;
	display: none;
	color: #fff;
	text-decoration: none;
}
.box-info a:link, .box-info a:visited {
	color: #FFF;
}
.box-info:hover 
{
	opacity: 1;
}
.hover-box
{
	width: 100px;
	height: 100px;
	margin: 4px;
	background-color: red;	
	position:relative;
	float: left;
}
/* other design */


#hero-wrap, #hero-wrap-inner 
{
	display: block;
	height: 288px;
	text-align: right;
	position: relative;
	text-align: left;
	overflow: hidden;	
	z-index: 1;	
}
#makeMeScrollable
{
	width:100%;
	height: 400px;
	position: relative;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea a
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.mScrollItemWrap {
	float: left;
}

.mScrollItemWrap .boxFrame{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: 4px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	opacity:.5;
}
.mScrollItemWrap a:hover .boxFrame{
	opacity: 0.25;	
	border: 10px solid #FFF;
}
div.scrollingHotSpotLeft{
	width: 50px;
	height: 100px;
}
div.scrollingHotSpotRight{
	width: 50px;
	height: 100px;
}

.contact img
{
	min-width: 600px;
	min-height: 300px;
}